<%- include('partials/header.ejs') %>





    <div class="pt-5 mx-auto">
        <h5 class="pt-5">Results for : <em><%= search.toUpperCase() %></em> </h5>

    </div>


    <div class="">


        <h4>
            <table class="table table-striped table-dark table-bordered table-hover table-sm">
                <% data.forEach(movie => { %>
                    <tr class='clickable-row' data-href='https://www.imdb.com/title/<%= movie.imdbID %>/'>
                        <td><a href="https://www.imdb.com/title/<%= movie.imdbID %>/" target="_blank" rel="noopener noreferrer"><strong><%= movie.Title %>  </strong> - <em><%= movie.Year %> </em></a> </td>
                        <td><a href="https://www.imdb.com/title/<%= movie.imdbID %>/" target="_blank" rel="noopener noreferrer"><img src="<%=movie.Poster %> " alt=""></a></td>

                    </tr>
                    </a>
                    <% }) %>
            </table>

        </h4>

    </div>



    <%- include('partials/footer.ejs') %>